<h2 class="text-center">Chi Tiết Sản Phẩm </h2>
<div class="container">
    <div class="col-md-12">
        <div class="card text-left">
            <img class="card-img-top" src="{{listBlog.avatar}}" alt="">
            <div class="card-body">
              <h4 class="card-title">{{listBlog.name}}</h4>
              <h4 class="card-title">Price : {{listBlog.price}}</h4>
              <p class="card-text">Mercedes GLC 250 là dòng xe Mercedes GLC Class, ra mắt tại thị trường Việt nam vào tháng 4/2016. Với sự thành công của dòng xe SUV hạng sang GLC Class tại Việt Nam, Mercedes-Benz Việt Nam tiếp tục nâng cấp Mercedes GLC 250 4Matic thêm các tính năng mới để khảng định thêm vị thế đầu bảng của dòng xe này.</p>
              <button class="btn btn-primary" routerLink="/admin"> <i class="fa-solid fa-arrow-rotate-left"></i> Come Back</button>
            </div>
          </div>
    </div>
</div>