<div class="container" >
   <span>{{listProduct.name}}</span>
           <div class="title">
           </div>
           <div class="product" >
        
               <div class="row" >
                   <div class="col-md-3"  *ngFor="let item of listProduct " style="cursor: pointer; margin-bottom: 20px;">
                   
                        <div class="card text-left" routerLink="/detail/{{item.id}}" >
                          <img class="card-img-top" src="{{item.avatar}}" alt="">
                          <div class="card-body">
                            <h4 class="card-title">{{item.name}}</h4>
                            <h5 class="text-danger">{{item.price}} VNĐ</h5>
                          </div>
                        </div>
                   </div>
               </div>
              <div class="move">
                <button class="btn btn-dark" routerLink="/" ><i class="fa-solid fa-house-chimney"></i> HOME</button>
              </div>
           </div>
</div>
