<div class="above" >
  <div class="row">  <div class="col-md-5">
    <button class="btn btn-info nkt" routerLink="admin/add">Thêm Sản Phẩm  <i class="fa-solid fa-user-plus"></i></button>
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tìm Kiếm Sản Phẩm">
        
    </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-xl-3 col-lg-4" *ngFor="let item of listProduct">
        <div class="card" style="width: 18rem;" >
            <img src="{{item.avatar}}" class="card-img-top" alt="..." height="200px">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <h5 class="card-title">Price : {{item.price}}</h5>
              <a href="#" class="btn btn-primary" routerLink="/detail/{{item.id}}">Detail</a>
              <a href="#" class="btn btn-warning" routerLink="/add/{{item.id}}" style="margin: 0px 10px ;">Edit</a>
              <a href="#" class="btn btn-danger" (click)="deleteItem(item.id)">Delete</a>
            </div>
          </div>
    </div>
</div> -->

<table class="table col-sm-12">
  <thead>
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Image</th>
      <th>Price</th>
      <th>Detail</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody class="col-sm-12">
    <tr *ngFor="let item of listProduct,let i = index">
      <td scope="row"><h6>{{i+1}}</h6></td>
      <td><h6>{{item.name}}</h6></td>
      <td><h6><img src="{{item.avatar}}" alt="" width="120px"></h6></td>
      <td><h6>{{item.price}}$</h6></td>
      <td><a href="#" class="btn btn-primary" routerLink="admin/detail/{{item.id}}"> Detail  </a></td>
      <td>  <a href="#" class="btn btn-warning">Edit <i class="fa-solid fa-file-pen"></i></a></td>
      <td>  <a href="#" class="btn btn-danger" (click)="deleteItem(item.id)">Delete <i class="fa-solid fa-user-slash"></i></a></td>
    </tr>
  </tbody>
</table>